.title {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}

.title>span {
    animation: oder linear 1s infinite;
    -webkit-animation: oder linear 1s infinite;
    -o-animation: oder linear 1s infinite;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
}

@keyframes oder {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.home {
    position: relative;
    height: 380px;
}

.group_home {
    position: relative;
    height: 280px;
}

.menu {
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu_group,
.case_management {
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.menu .jo {
    border-right: 1px solid rgb(165, 165, 165);
}

.aacc {
    background: cadetblue;
}

.menu>.row {
    --bs-gutter-x: 0rem !important;
}

.acti {
    display: none;
}

.class_home {
    position: relative;
    background-color: rgb(100, 173, 237);
    height: 645px;
}

.one,
.group {
    color: black;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px;
    cursor: pointer;
}

.one {
    margin: 20px;
}

.group {
    color: white;
    cursor: pointer;
    margin: 10px;
    background-color: brown;
}

.one>a,
.group>a {
    text-decoration: none;
}

.oderrr {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    flex-wrap: wrap;
    padding: 20px;
    animation: ode linear 1s infinite;
    -webkit-animation: ode linear 1s infinite;
    -o-animation: ode linear 1s infinite;
}

@keyframes ode {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.gro {
    background: brown;
    color: white;
}

.oderr_n {
    display: none;
    padding: 10px 20px 10px 20px;
}

.ko {
    height: 570px;
    overflow-y: scroll;
}

.ko::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.ko::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
    opacity: 0;
}

.olu {
    display: block;
}

.bhjb {
    display: none;
}

.icon_user>i {
    font-size: 3rem;
    color: blue;
}

.oderr_n>.row {
    --bs-gutter-x: 0 !important;
    overflow-y: scroll;
}

.col-md-1 {
    background-color: white;
    cursor: pointer;
}

.col-3 {
    background-color: white;
    cursor: pointer;
}

.user_group {
    position: relative;
}

.oderr_n .col-md-1 {
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.name_user_o {
    text-transform: capitalize;
}

.ton {
    width: 10px;
    height: 10px;
    background-color: gray;
    position: absolute;
    right: 10px;
    border-radius: 5px;
}

.add>i {
    font-size: 3rem;
}

.them {
    text-transform: capitalize;
    font-weight: 600;
}

.add-table {
    cursor: pointer;
}


/* thêm bàn */

.list-add-table {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-180%);
    transition: .3s;
}

.table {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20%;
    height: 100px;
}

.active-add {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.input-add {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 10px;
    border-radius: 5px;
}

.table>button {
    border: none;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.mkhs {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
    transform: translateY(-180%);
    transition: .3s;
}

.loloj {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.koaso {
    position: absolute;
    top: 0px;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    z-index: 10000000000;
    cursor: pointer;
}


/* quản lý riêng */

.class_group>.row {
    --bs-gutter-x: 0rem !important;
}

.class_group .col-md-2 {
    background-color: white !important;
    height: 645px;
    overflow-y: scroll;
}

.class_group .col-md-2::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.class_group .col-md-2::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
    opacity: 0;
}

.class_group .col-md-2 {
    border-right: 1px solid black;
}

.dmql {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
}

.dm {
    background-color: white;
    padding: 10px;
    height: 645px;
    overflow-y: scroll;
    display: none;
}

.title_dm {
    text-transform: capitalize;
    float: left;
    font-size: 1.6rem;
    font-weight: 600;
}

.dm>table {
    text-align: center;
}

.dm::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.dm thead tr th {
    font-size: 1rem;
}

.hhhhh {
    background-color: burlywood;
}

.hhjih {
    display: block;
}

.box-dm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-180%);
    transition: .3s;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.5);
}

.dma-bocx {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20%;
    height: auto;
}

.add_dm {
    text-transform: capitalize;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    color: blue;
}

.add_dm:hover {
    text-decoration: underline;
    color: brown;
}

.up_dm {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.add_cate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-180%);
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.addcate {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: .3s;
}

.cate_add {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 20%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.name_cate {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
}

.name_cate>input {
    border-radius: 5px;
    border: 1px solid gray;
}

.cate_add>button {
    background-color: blue;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.delete_dm>i {
    cursor: pointer;
}

.uploat>i {
    cursor: pointer;
}


/* sản phẩm */

.title_pro {
    text-transform: capitalize;
    float: left;
    font-size: 1.6rem;
    font-weight: 600;
}

.dm>table {
    text-align: center;
}

.dm::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.dm thead tr th {
    font-size: 1rem;
}

.hhhhh {
    background-color: burlywood;
}

.hhjih {
    display: block;
}

.box-pr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-180%);
    transition: .3s;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.5);
}

.pro-bocx {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    height: auto;
    padding: 20px;
}

.add_pr {
    text-transform: capitalize;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    color: blue;
}

.add_pr:hover {
    text-decoration: underline;
    color: brown;
}

.up_pro {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.add_pro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-180%);
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.addpro {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: .3s;
}

.pro_add {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.name_pro,
.cate_pro {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.cate_pro>select {
    width: 45%;
    border-radius: 5px;
    text-transform: capitalize;
}

.name_pro>input {
    border-radius: 5px;
    border: 1px solid gray;
}

.pro_add>button {
    background-color: blue;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.delete_pro>i {
    cursor: pointer;
}

.uploat_pro>i {
    cursor: pointer;
}

.pro_price {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
}

.pro_price>input {
    border: 1px solid rgb(193, 191, 191);
    border-radius: 5px;
}

.image_pro {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
}

.anh_pro {
    font-size: .7rem;
}

.image_cate {
    width: 100%;
}

.ko00 {
    z-index: 10000000000000000000000;
}

.name_cate_upload {
    text-transform: capitalize;
    padding: 10px;
    font-weight: 600;
}

.name_cate_upload>input {
    border-radius: 5px;
}

#subm {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.anh_>img {
    width: 100px;
}

.name_pro_up {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.name_pro_up>input {
    border-radius: 5px;
    border: 1px solid gray;
}

.pro_price_up {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
}

.pro_price_up>input {
    border: 1px solid rgb(193, 191, 191);
    border-radius: 5px;
}

.image_pro_up {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
}

.anh_pro_up {
    font-size: .7rem;
}

.accordion-collapse {
    padding: 10px !important;
}

.name_k {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
}

.id-time {
    font-size: 1.2rem;
    font-weight: 600;
}

.sale_oder,
.name_poder,
.price_ode,
.thanhtien {
    font-size: 1rem;
    font-weight: 400;
    width: 95%;
    max-width: 97%;
    text-transform: capitalize;
}

.sum_oder {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.koco {
    text-align: center;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 600;
}

.hkojas {
    position: relative;
}

.psp {
    text-transform: none;
}