.box {
    position: relative;
    border-right: 1px solid rgb(233, 233, 233);
}

.hiuy {
    position: sticky;
    top: 0;
    background-color: var(--eee-color);
    margin-top: 5px;
    overflow-y: scroll;
    height: 680px;
    border-right: 1px solid rgb(238, 238, 238);
}
.class_home {
    position: relative;
    background-color: rgb(100, 173, 237);
    height: 645px;
}

.hiuy::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.hiuy::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
    opacity: 0;
}

.row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
}

.search {
    position: sticky;
    top: 0;
    z-index: 10000;
}


/* bên trái */

.prev {
    position: relative;
    bottom: 10px;
    background-color: rgb(9, 80, 247);
    padding: 15px;
    margin-top: 5px;
}

.prev>a {
    text-decoration: none;
    margin-left: 5px;
    color: white;
    font-weight: 500;
}

.prev>a:hover {
    color: brown;
}

.prev>i {
    color: white;
}

.search {
    padding: 5px;
}

.search>input {
    outline: 0;
    padding-left: 1rem;
    height: 2rem;
    width: 100%;
    font-size: .9rem;
    border-radius: 0.5rem;
    margin-top: -20px;
}

.search>button {
    position: absolute;
    right: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0 1rem;
    height: 2rem;
    margin-top: -3px;
    flex-grow: 3;
    outline: none;
    border: none;
    background: gray;
    width: 2.5rem;
    margin-right: 5px;
}

.search>button>i {
    color: black;
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cate>ul {
    display: block;
    padding: 0 !important;
}

.cate>ul>li {
    list-style: none;
    padding: 10px 10px 10px 0px;
}

.cate>ul>li>a {
    text-decoration: none;
    padding: 20px;
    position: relative;
    left: 10px;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.cate>ul>li>a:hover {
    color: brown;
}

.products {
    overflow-y: scroll;
    height: 740px;
    border-right: 3px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
}

.products::-webkit-scrollbar {
    width: 0;
}

.products::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
}

.list-cate {
    background-color: rgb(230, 228, 228);
    color: rgb(69, 69, 69);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    text-transform: capitalize;
}

.pro {
    position: relative;
    margin: 0;
}

.box-pro {
    float: left;
    position: relative;
    margin-top: 2rem !important;
    border: 1px inset black;
}

.list_pro {
    position: relative;
}

.img {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.img>img {
    width: 100%;
}

.products>.row {
    --bs-gutter-x: 0rem !important;
}

.name-price {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    object-fit: contain;
}

.name {
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.name,
.price {
    color: white;
    font-size: 1rem;
}

.list_pro {
    margin: 5px;
    cursor: pointer;
}

.oder {
    overflow-y: scroll;
    height: 740px;
    position: relative;
}

.oder::-webkit-scrollbar {
    opacity: 0;
    width: 0rem;
}

.oder::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
    opacity: 0;
}

.oder_pro {
    background-color: blue;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.stt {
    font-size: 1rem;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    margin-left: 10px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(79, 79, 79);
    position: relative;
    top: 10px;
}

.name_ode {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    text-overflow: ellipsis;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
}

.name_oder>.row {
    --bs-gutter-x: 0rem !important;
}

.quantity {
    opacity: 1;
    display: inline-flex;
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.quantity .minus,
.quantity .plus {
    padding-left: 0.5em;
    border: 1px solid rgb(191, 190, 190);
    padding-right: 0.5em
}

.quantity input {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    margin: 0
}

.quantity input[type="number"] {
    width: 2.5em;
    padding: 6px;
    border: 1px solid rgb(191, 190, 190);
    text-align: center;
    font-size: .9em
}

.quantity input[type="number"]::-webkit-outer-spin-button,
.quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.pay {
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pay:hover {
    background-color: tomato;
}

.delete {
    float: right;
    margin-right: 10px;
    background: white;
    border: none;
    color: rgb(117, 117, 240);
}

.selec {
    position: relative;
    padding-top: 10px;
    border-top: 1px solid black;
}

.sale {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.ap {
    float: right;
    margin-right: 10px;
    border: none;
    background-color: rgb(248, 78, 16);
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.ap:hover {
    background-color: wheat;
    color: black;
}

.ap1 {
    float: right;
    margin-right: 10px;
    border: none;
    font-size: 1rem !important;
    background-color: rgb(248, 78, 16);
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.ap1:hover {
    background-color: wheat;
    color: black;
}

.display_ap {
    margin-left: 10px;
    margin-top: 10px;
}

select,
option {
    cursor: pointer;
    position: relative;
}

.box-oder {
    overflow-y: scroll;
    height: 490px;
    position: relative;
}

.box-oder::-webkit-scrollbar {
    opacity: 0;
    width: 0rem;
}

.box-oder::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
    opacity: 0;
}

.inpkk {
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 10px;
    text-transform: capitalize;
    border-top: 1px solid black;
}

.inpkk>input {
    width: 30%;
    font-size: .8rem;
}

.sale_select {
    text-decoration: none;
    font-size: .8rem;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: capitalize;
}

.sale_select:hover {
    color: brown;
    text-decoration: underline;
}

.sale_inp {
    text-decoration: none;
    text-decoration: underline;
    font-size: .8rem;
    cursor: pointer;
    text-transform: capitalize;
}

.sale_inp:hover {
    color: brown;
    text-decoration: underline;
}


/* ẩn hiện ở giảm giá */


/* .discount>.active {
    display: none;
} */


/* Tổng tiền */

.sum {
    font-size: 1.2rem;
    font-weight: 900;
    padding: 10px;
    text-align: right;
    /* position: absolute;
    right: 0;
    bottom: 40px; */
}

.sum_price {
    font-size: 1.2rem;
    font-weight: 500;
}


/* ẩn hiện kg */

.box_l {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-180%);
    transition: .3s;
}

.box_ll {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20%;
    height: 70px;
}

.activee {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.weight {
    margin-top: 100px;
    position: relative;
    top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    left: 10px;
}

.create-update {
    background-color: chocolate;
    color: white;
    position: absolute;
    right: 20px;
    padding: 5px;
    top: 0px;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.in>input {
    font-size: 1rem;
    border-radius: 5px;
}

.chu_y {
    font-size: .7rem;
    margin-top: 5px;
}

.sao {
    color: red;
}

.box_pay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-180%);
    transition: .3s;
}

.box_payy {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding: 15px;
    position: relative;
    top: 5px;
}

.hjik {
    text-align: center;
}

.pay_y {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.logo_pay {
    position: relative;
}

.logo_pay>img {
    width: 120px;
}

.ten {
    font-size: 1.2rem;
    font-weight: 700;
}

thead>tr>th {
    text-transform: capitalize;
    font-size: .7rem;
    text-align: center;
}

.address {
    text-transform: capitalize;
}

tbody>tr>td {
    text-transform: capitalize;
    text-align: center;
}

.tttt {
    position: relative;
}

.name_user {
    float: left;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

.ban {
    float: right;
    text-transform: capitalize;
    margin-right: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sumtt {
    font-size: 1rem;
    font-weight: 700;
}

.text-right {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 600;
}

.ck {
    text-align: center;
    font-weight: 500;
}

.tablee {
    overflow-y: scroll;
    height: auto;
    width: 100%;
}

.tablee::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.tablee::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    border: none;
    opacity: 0;
}


/* xác nhận thanh toán */

.xn_pay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-180%);
    transition: .3s;
}

.box_xn_pay {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    position: relative;
    top: 5px;
}

.xn_tt_pay {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.xn_tt {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.information,
.buyer_information {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#user {
    font-size: .8rem;
    width: 60%;
}

.box_xn_pay>.row>.col-6 {
    padding: 30px;
}

.jidrr {
    border-right: 1px solid rgb(214, 214, 214);
    height: 100%;
    position: relative;
    text-align: center;
    padding: 10px;
}

.tablee_xn {
    padding: 10px;
}

.user_name {
    font-size: 1rem;
    font-weight: 600;
}

.jidrr>button {
    border: none;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.ko00 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.idon_ko>i {
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}

.lpkoki {
    display: block;
}

.idon_ko>i {
    animation: move 1s infinite;
    position: relative;
}

@keyframes move {
    0% {
        transform: rotate(32deg);
    }
    10% {
        transform: rotate(64deg);
    }
    20% {
        transform: rotate(96deg);
    }
    30% {
        transform: rotate(128deg);
    }
    40% {
        transform: rotate(160deg);
    }
    50% {
        transform: rotate(192deg);
    }
    60% {
        transform: rotate(224deg);
    }
    80% {
        transform: rotate(256deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(310deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ko000 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    right: 0;
    z-index: 100000000000000000000000;
    background-color: rgba(0, 0, 0, 0.5);
}

.idon_ko>i {
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}

.idon_ko>i {
    animation: move 1s infinite;
    position: relative;
}

@keyframes move {
    0% {
        transform: rotate(32deg);
    }
    10% {
        transform: rotate(64deg);
    }
    20% {
        transform: rotate(96deg);
    }
    30% {
        transform: rotate(128deg);
    }
    40% {
        transform: rotate(160deg);
    }
    50% {
        transform: rotate(192deg);
    }
    60% {
        transform: rotate(224deg);
    }
    80% {
        transform: rotate(256deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(310deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.delete-oder {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transform: translateY(90%);
    transition: .3s;
}

.delete-table {
    background-color: blanchedalmond;
}

.user_group {
    position: relative;
}

.oder__ {
    text-transform: capitalize;
}

.show-oder {
    transform: translateY(0);
    transition: .3s;
    opacity: 1;
    visibility: visible;
}

.oder__>a {
    text-decoration: none;
    font-weight: 600;
}

.oder__>a:hover {
    text-decoration: underline;
    color: brown;
}

.delete__table {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    color: blue;
}

.delete__table:hover {
    text-decoration: underline;
    color: brown;
}

#prev,
#next,
.page-item {
    cursor: pointer;
}

.example {
    position: absolute;
    bottom: 0px;
}

.number-page {
    display: flex !important;
}
.export{
    color: black;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #eeeeee;
}
table  th,
table  th,
table  th {
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    font-size: .9rem;
    border: 1px solid #eeeeee;
}

table  tbody td,
table  tbody td,
table tbody td {
    padding: 1rem 0.5rem;
    border: 1px solid #eeeeee;
}
